/*Estilos por defecto*/

*{
    margin:0px;
    padding:0px;
    box-sizing:0px;
}

/*Home*/
  
.main{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-image: url("https://images.unsplash.com/photo-1547082299-de196ea013d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    filter: blur(3px); 
    position: absolute;
}

.home{
    width:100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 50%;
    height: 50vh;
 
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    margin-right: 40%;
}
